<!DOCTYPE html>
<html lang="en">
    <head></head>
    <% include ./partials/_header %>
    </br>
    <body style="font-size:20px; padding:50px;">
    Now you're up and getting ready for the day. You look around your room, and see a couple of things you can do today:
    <form  method="POST" name="choices">
        <input type="submit" name="choice" value="call friend">
        <input type="submit" name="choice2" value="do the laundry on the floor">
    </form>
 </br>
 </body>
  
</html>