<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
      p {
        font-size: 20px;
        margin-left: 0px;
      }
      </style>
  </head>
  <% include ./partials/_header %>
  </br>
  <body style="font-size:20px; padding:50px;">
    Good morning! What would you like to do this morning? 
    <form  method="POST" name="choices">
        <input type="submit" name="choice" value="getUp">
        <input type="submit" name="choice2" value="stayInBed">
    </form>
  </br>
    <p>Timer function as below</p>
    <p id="clock">
        Minutes: <span class="minutes"></span><br>
        Seconds: <span class="seconds"></span>
    </p>
    <script>
       
    /* count time left */
    let countDownDate = new Date(Date.parse(new Date()) + 3 * 60 * 1000).getTime();
    
    // Update the count down every 1 second
    let x = setInterval(function() {
    
      let now = new Date().getTime();
      // Find the distance between now and the count down date
      let timeRemaining = countDownDate - now;
      let minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
    
      // Output the result in an element with id="demo"
    
        let minutesSpan = document.getElementById("clock").querySelector('.minutes');
        let secondsSpan = document.getElementById("clock").querySelector('.seconds');
    
        //document.getElementById("clock").innerHTML = "Hello user! You have " + minutes + "m " + seconds + "s left to play"; 
         minutesSpan.innerHTML = minutes + 'm';
         secondsSpan.innerHTML = seconds + 's';
        // If the count down is over, write some text 
        if (timeRemaining < 0) {
          clearInterval(x);
          document.getElementById("clock").innerHTML = "The day is over. Time to sleep";
        }
      }, 1000);
    </script>
  </body>

</html>