body {
  background-color: #87ceeb;
}

#game-flex {
  display: flex;
  flex-direction: column;
  padding-left: 23em;
  align-content: center;
}
#timer {
  font-family: 'VT323', monospace;
  font-size: 20;
}
#pause {
  font-family: 'VT323', monospace;
  font-size: 20px;
}
#new-skill {
  font-family: 'VT323', monospace;
  font-size: 25px;
}
#navbar-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px black solid;
  width: 100%;
  height: 5em;
  margin-bottom: 4em;
  padding-right: 3em;
  font-family: 'VT323', monospace;
  background-color: #f3fafd;
}
/* Title Animation */
h1 {
  font-family: 'VT323', monospace;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  background-image: -webkit-linear-gradient(92deg, black, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#game {
  border: 5px black solid;
}

#intro {
  font-family: 'VT323', monospace;
  font-size: 25px;
  width: 20em;
}
