#game-flex {
  display: flex;
  flex-direction: column;
  padding-left: 25em;
}

#game {
  border: 2px black solid;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  background-image: -webkit-linear-gradient(92deg, black, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
